<h1>Listing quizzes</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Option a</th>
      <th>Option b</th>
      <th>Option c</th>
      <th>Option d</th>
      <th>Answer</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @quizzes.each do |quiz| %>
      <tr>
        <td><%= quiz.question %></td>
        <td><%= quiz.option_a %></td>
        <td><%= quiz.option_b %></td>
        <td><%= quiz.option_c %></td>
        <td><%= quiz.option_d %></td>
        <td><%= quiz.answer %></td>
        <td><%= link_to 'Show', quiz %></td>
        <td><%= link_to 'Edit', edit_quiz_path(quiz) %></td>
        <td><%= link_to 'Destroy', quiz, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quiz', new_quiz_path %>
