<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @quiz.question %>
</p>

<p>
  <strong>Option a:</strong>
  <%= @quiz.option_a %>
</p>

<p>
  <strong>Option b:</strong>
  <%= @quiz.option_b %>
</p>

<p>
  <strong>Option c:</strong>
  <%= @quiz.option_c %>
</p>

<p>
  <strong>Option d:</strong>
  <%= @quiz.option_d %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @quiz.answer %>
</p>

<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>
