<div class="bs-sidebar hidden-print affix left-f-t" id = "settings" role="complementary">
  <ul class="nav bs-sidenav">
    <li>
      <a href="<%= assignments_path %>"  data-toggle="tooltip" data-placement="right" title="" data-original-title="Click icon to View Your information and Picture" ><span class="glyphicon glyphicon-user"></span></a>
    </li>
    <li>
      <a href="<%= gists_path %>"  data-toggle="tooltip" data-placement="right" title="" data-original-title="Click here to Navigate and View gist from other schools" ><span class="glyphicon glyphicon-bullhorn"></span></a>

    </li>
    <li>
      <a href="<%= events_path %>"  data-toggle="tooltip" data-placement="right" title="" data-original-title="Check Out the latest Event in your favourite school" ><span class="glyphicon glyphicon-calendar"></span></a>

    </li>


    <li>
      <a href="<%= assignments_path %>"  data-toggle="tooltip" data-placement="right" title="" data-original-title="View and help other students in their assignment, make comments and get points" ><span class="glyphicon glyphicon-book"></span></a>
    </li>

    <li>
      <a href="<%= schools_path %>"  data-toggle="tooltip" data-placement="right" title="" data-original-title="Visit other schools and get informations" ><span class="glyphicon glyphicon-home"></span></a>
    </li>
    <li>
      <a href="<%= pictures_path %>"  data-toggle="tooltip" data-placement="right" title="" data-original-title="View your Uploaded pictures and get access to friends gallery" ><span class="glyphicon glyphicon-picture"></span></a>

    </li>
    <li>
      <a href="<%= assignments_path %>"  data-toggle="tooltip" data-placement="right" title="" data-original-title="View the assignments" ><span class="glyphicon glyphicon-book"></span></a>

    </li>


    <li>
      <a href="<%= assignments_path %>"  data-toggle="tooltip" data-placement="right" title="" data-original-title="View the assignments" ><span class="glyphicon glyphicon-book"></span></a>
    </li>

  </ul>
</div>
