<!DOCTYPE html>
<html>
<head>
  <title>Hsg</title>
  <%= stylesheet_link_tag    "bootstrap", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "student_steps", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if student_signed_in? %>
    <%= link_to "logout", destroy_student_session_path, :method => :delete %>
<% end %>

<%= yield %>

<%= yield(:footer) %>

</body>
</html>
